.containerOffers{
    position: absolute;
    width: 90%;
    height: 10%;
    background: #FFFFFF;
    border-radius: 5px;
}
.btn_show {
    margin: 20%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #355E7E;
    position: absolute;
    margin:15%; 
    left: 47px;
    background: #FFFFFF;
    border: 1px solid #355E7E;
    box-sizing: border-box;
    border-radius: 5px;
}