.jobOffer {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5%;
    padding: 5%;
    background: white;
}

.jobOffer h1{
    margin: 2% 5%;
    font-style: normal;
    font-size: 18px;
    align-items: center;
    letter-spacing: -0.02em;
    color: #355E7E;
} 

.jobOffer h4  {
    margin: 3% 5%;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 0px;
    align-items: center;
    letter-spacing: -0.02em;
    color: #355E7E;
}


.jobOffer h3  {
    margin: 5% 5%;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    align-items: center;
    letter-spacing: -0.02em; 
    color: #355E7E;
 
    
}

.jobOffer p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    align-items: center;
    text-align: right;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    color: #F1717F;  
}

.btn_postulants{
    height: 38px;
    width: 90%;
    margin: 0 5%;
    background: #FFFFFF;
    border: 1px solid #355E7E;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #355E7E;
}

.principalInfo {
    display: flex;
}

.ranking {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    background: #F1717F;
    border-radius: 50%;
    padding: 5%;
    text-align: center;
    width: 20%;
}
.percentage {
    display: flex;
}
.percentage h1 {
    margin-bottom: 0px;
font-style: normal;
font-weight: normal;
font-size: 40px;
align-items: center;
letter-spacing: -0.02em;
color: #FFFFFF;
}

.percentage h3 {
    margin-top: 36%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    align-items: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    }

.rankingletter  h3 {
    margin: 0;
    color:white;
}  

.womenInfo {
    padding: 5%;
    padding-bottom: 0%;
}

.womenInfo h1 {
    margin: 0;
    font-style: normal;
    font-size: 18px;
    align-items: center;
    letter-spacing: -0.02em;
    color: #355E7E;
}

.womenInfo h4 {
    margin: 8% 0%;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 0px;
    align-items: center;
    letter-spacing: -0.02em;
    color: #355E7E;
}

.womenInfo h3 {
    margin: 9% 0%;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    align-items: center;
    letter-spacing: -0.02em; 
    color: #355E7E;
}

.workingDay p {
    margin: 0;
    text-align: center;
    padding-left: 20%;
    text-decoration-line: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    letter-spacing: -0.02em;
    color: #355E7E;
    padding-bottom: 5%;
}