.modal{
    position: fixed;
    padding-top:50%;
    top: 0;;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(53, 94, 126, 0.5);
}
.modal-container{
    background: #EFF2F5;
    border: 1px solid #355E7E;
    box-sizing: border-box;
    border-radius: 5px;
    width: 90%;
    margin: 1% 5% 10%;
}

.confirmation{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #F1717F;
}

.message {
    margin: 0%;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 44px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #254863; 
}

.text {
    margin: 5% 15%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #254863;
}

.close-btn{
    width: 80%;
    height: 45px;
    left: 12.5%;
    margin: 5% 10%;
    background: #F1717F;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
}

.close-btn a{
    color: #FFFFFF;
    text-decoration: none;
}
