.App {
  text-align: center;
}

header:after {
  content:" ";
  display:table;
  clear:both;
}

header ul {
  list-style:none;
}

header ul li {
  float:left;
  margin-right: 20px;
  color:blue;
}

header  ul li .active{
  color:red;
}
