body{
  margin: 0px auto;
  padding: 0px auto;
}
.App {
  text-align: center;
}

header{
  position:fixed;
  border-bottom: solid 1px;
  width: 100%;
} 


header:after {
  content:" ";
  display:table;
  clear:both;
}


header ul {
  list-style:none;
}

.navbar img {
  width: 30%;
  padding-top: 8%;
  padding-left: 4%;
  padding-right: 4%;
  margin: 0% 35%;
}

.bm-item{
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 37px;
  color: #FFFFFF;
}

/* Individual item */
.menu-item{
  display: inline-block;
  /* Our sidebar item styling */
  text-decoration: none;
  border-bottom: solid 0.05px;
  margin-bottom: 10%;
  padding-bottom: 10%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 30px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;

}


/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}


/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #355E7E;
  padding: 30px 25px 0;
  font-size: 18px;
  /* width: 70%; */
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.a.bm-item.menu-item.active{
  border-color: pink;
}


