.templateform{
	background: #EEEEEE;			
}

header{
	background-color: rgba(53, 94, 126); 
}

.templateform h3{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	letter-spacing: -0.02em;
	color: #F1717F;
}

.templateform h5 a{	
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 22px;
	display: flex;
	align-items: center;
	letter-spacing: -0.02em;
	color: #F1717F;
	text-decoration-line: underline;
}

.firstTextOne{
	display: flex;
	justify-content: space-between;
	padding-top:25%;
	margin: 0px 30px;
}

Form{
	margin: 0px 40px;
}
.form{
	height: 100%;
}
.form-label {
	padding-top:20px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	display: flex;
	align-items: center;
	letter-spacing: -0.02em;
	color: #355E7E;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #C4C4C4;;
	opacity: 1; /* Firefox */
}

.form-control{
	width: 100%;
	height: 35px;
	margin-top: 5px;	
	background: #FFFFFF;
	border: 0.5px solid #355E7E;
	box-sizing: border-box;
	border-radius: 5px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	display: flex;
	align-items: center;
	letter-spacing: -0.02em;
	color:  #254863;
}

textarea {
	height: 80px!important;
}

.btn_appealcreate{
	background: #F1717F;
	border-radius: 5px;
	width:100%;
	height: 45px;
	border:none;
	margin: 12% 0%;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;	
	letter-spacing: -0.02em;
	color: #FFFFFF;
}

