.templateProfile {   
	padding-top: 25%;
	background: #EEEEEE;
} 

.firstSectionProfile{
	display:flex;
	justify-content: space-between;
	padding-left: 9%;
    padding-right: 8%;
}
.firstSectionProfile h2 {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
letter-spacing: -0.02em;
color: #F1717F;
	}

.firstSectionProfile h5 a	{
		font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: right;
letter-spacing: -0.02em;
text-decoration-line: underline;
color: #F1717F;
}

.bodyProfile{
	display: flex;
}

.bodyProfile img{
	padding-right: 4%;
    padding-left: 7%;
    height: 40%;
}

.textProfile{
	padding-top: 3%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 7px;
    align-items: center;
    letter-spacing: -0.02em;
	color: #355E7E;
	
}

.textProfile h5 a{
	padding-left: 51%;
    text-align: right;
	font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    color: #F1717F;
}

.profileInfo {
	border-bottom-color: 1px black;
	border-bottom:solid;
}

.offersInfo h3{
	font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #F1717F;
}
