
/*Apply to all document*/
 #root{    
    background-image: url("../../img/fondo-1.jpg");
    background-color: rgba(53, 94, 126, 0.5); 
    background-size: 250%;
    background-repeat: no-repeat;
    background-position-x: 39%, 50%;
    background-position-y: 20%, 50%;
    color:rgba(245, 245, 245, 0.89);
    height: 100%;
} 

/*
body:after {
    content : "";
    top: 0;
    left: 0;
    background-color: rgba(53, 94, 126, 0.7); 
    width: 100%;
    height: 230%;
    max-height: auto;
    opacity : 0.9;
    z-index: -1;
}
*/

.happyTalk {
    text-align: center;
    
}

.happyTalk h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.02em;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30%;
    margin-top:0px;
}
.firstPage{
    height: 100%;
}

.happyTalk h1{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.02em;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 33px;
}

.join{
    width: 70%;
    height: 45px;
    left: 12.5%;
    margin: 5% 15%;
    background: #F1717F;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
}

.enter{
    width: 70%;
    height: 45px;
    left: 12.5%;
    margin: 5% 15%;
    border: white solid 0.5px;
    border-radius: 5px;
    color: #FFFFFF;
    background: transparent;
    font-size: 18px; 
}

.call2Action{
    text-align: center;
    color:white;
    font-size: 18px;
}

.call2Action h4{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.arrowDown{
    color: #F1717F;
    font-size: 40px;
    left: 47%;
    top:200%;
    margin-bottom: 10%;
}
