.templateProfile{
	background: #EEEEEE;
	padding: 5%;
	width: 375px;
	height: 729px;	
}

.templateProfile h3{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	align-items: center;
	letter-spacing: -0.02em;
	color: #F1717F;
}

.templateProfile h5{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	align-items: left;
	letter-spacing: -0.02em;
	color: #F1717F;
	text-align: right;
}
.templateProfile p{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 10px;
	letter-spacing: -0.02em;
	color: #355E7E;
}
.profile
{   margin-top: 13%;
    width: 80%;
	height: 100%;
	display: contents;
}
.logo-bci{
    width: '20%';
  }

   
.btn_login{
    width: 80%;
    height: 45px;
    left: 12.5%;
    margin: 10% 10%;
    background: #F1717F;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
}
