.templateAuth{
	background: #EEEEEE;			
}

header{
	background-color: rgba(53, 94, 126); 
}

.templateAuth h3{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	display: flex;
	align-items: center;
	letter-spacing: -0.02em;
	color: #F1717F;
}

.templateAuth h5{	
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	align-items: center;
	letter-spacing: -0.02em;
	color: #F1717F;
	text-decoration-line: underline;
}

.firstText{
	display: flex;
	justify-content: space-between;
	padding-top:5%;
	margin: 0px 30px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #C4C4C4;;
	opacity: 1; /* Firefox */
}

.btn_login{
	background: #F1717F;
	border-radius: 5px;
	width:100%;
	height: 45px;
	border:none;
	margin: 12% 0%;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;	
	letter-spacing: -0.02em;
	color: #FFFFFF;
}
